/* FONT
================================================== */
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?37927580');
  src: url('../fonts/fontello.eot?37927580#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?37927580') format('woff2'),
       url('../fonts/fontello.woff?37927580') format('woff'),
       url('../fonts/fontello.ttf?37927580') format('truetype'),
       url('../fonts/fontello.svg?37927580#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */

/* CUSTOM RESETS
================================================== */
a {
    transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
}

a:focus,
a:hover {
    outline: 0 none;
    text-decoration: none;
}

h4 {
    font-size: 30px;
}

/* Buttons */ 
.btn {
    min-width: 145px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
    transition: box-shadow 0.25s ease-in-out;
    -moz-transition: box-shadow 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out;
    -o-transition: box-shadow 0.25s ease-in-out;
    -ms-transition: box-shadow 0.25s ease-in-out;
}

.btn-fill {
    color: #fff;
    background-color: #ff214f;
    transition: 0.7s;
    margin-right: 5px;
}

.btn-border {
    background-color: transparent;
    color: #212121;
    border: 1px solid #212121; 
    transition: 0.6s;
}

.btn:hover,
.btn:focus {
    color: #fff;
    background-color: #212121;
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.15);
}


/* Input fields */
.form-control {
    padding-left: 10px;
    border: 0;
    border-bottom: 1.6px solid #212121;
    border-radius: 0;
    background-color: transparent; 
    box-shadow: none;
    outline: 0 none transparent;
    -webkit-appearance:none;
 }

textarea {
    margin-top: 40px;
    min-height: 150px;
    resize: none;
}

.form-control:focus {
    box-shadow: none;
    border-bottom-color: #e1e1e1;
}

::-moz-placeholder,
::-webkit-input-placeholder {
    font-size: 16px;
}

/* LAYOUT
================================================== */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #212121;
}

.img-res {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.visible-xxs {
    display: none;
}

/* Background-color */
.gray-bg {
    background-color: #e1e1e1;
}

/* HEADER
================================================== */
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 7;
}

.site-logo img {
    padding-bottom: 2px;
}

/* Navigation */
.navbar-nav > li > a {
    padding: 5px 0;
    font-weight: 600;
    color: #212121;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-color 0.25s ease-in-out;
    -moz-transition: border-color 0.25s ease-in-out;
    -webkit-transition: border-color 0.25s ease-in-out;
    -o-transition: border-color 0.25s ease-in-out;
    -ms-transition: border-color 0.25s ease-in-out;
}

.navbar-nav.navbar-right {
    margin-right: 0;
}

.navbar-nav > li + li > a {
    margin-left: 40px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li.active > a,
.nav > li > a:hover,
.nav > li.active > a {
    background-color: transparent;
    border-bottom: 2px solid #212121;
}

.nav > li > a:focus {
    background-color: transparent;
}

/* HERO
================================================== */
.hero { 
    background: url(../img/hero.jpg) no-repeat center / cover; 
    height: 100%;
    width: 100%;
    min-height: 700px;
}

.hero .container {
    position: relative;
    height: 100%;
}

.hero .col-md-6:first-child {
    position: absolute;
    top: 46%;
    left: 3%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 2;
}

.hero .col-md-6:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero h1 {
    font-size: 46px;
    font-weight: 700;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.hero img {
    height: 600px;
}
.hero_content .image_wrap{
	width: 200px;
    height: 200px;
    display: inline-block;
    margin-bottom: 43px;
	position: relative;
}
.hero_content .image_wrap img{border-radius: 100%; }
.hero_content .image_wrap .main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 100%;	
}
.hero_content .image_wrap .main:before{
	position: absolute;
	content: "";
	top: -8px;
	bottom: -8px;
	left: -8px;
	right: -8px;
	border-radius: 100%;
	background-color:rgba(255,255,255,.08);
	z-index: -1;
}
.hero_content .name_holder{margin-bottom: 9px;}
.hero_content .name_holder h3{
	color: #212121;
	text-transform: uppercase;
	font-size: 42px;
	font-weight: 700;
}
.hero_content .name_holder h3 span{color: #ff214f;}
.hero_content .text_typing p{
	color: #212121;
	font-size: 24px;
    font-weight: 600;
    padding: 2px 0 7px 0;
}
.hero_content .text_typing .arlo_tm_animation_text_word{font-weight: 600;}

/* SITEMAIN
================================================== */
.site-main {
    position: relative;
    margin-bottom: 90px;
    background-color: #fff;
    z-index: 1;
}
/*section:about*/
.section-about p{
    margin: 15px 0 12px 0;
}
/* site-section */
.site-section {
   padding-top: 100px;
}

.site-section h2,
.site-section h3 {
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
}

.img-lines {
    margin: 15px 0 40px;
}

.site-section p {
    margin-bottom: 35px;
}
/*section : education*/
.section-education .part1 {
	font-weight: 600;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.section-education .part2 {
	font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}
.section-education .part3 {
	font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}
.section-education .part4 {
	font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
}

/* Section: Skills */
.section-skills span{
    color: #000;
    font-size: 16px;
}
.main_title h3{
    color: #000;
    font-weight: 600;
    margin: 5px 0 10px 0;
}
.main_title h3 span{
    font-size: 20px;
}
.text p{
    font-size: 19px;
    text-align: justify;
}

.arlo_tm_progress_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 50px 0px 0px 0px;
}
.arlo_tm_progress_wrap .progress_wrap_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
}
.arlo_tm_progress_wrap .progress_wrap_inner .left{
	width: 50%;
	padding-right: 50px;
}
.arlo_tm_progress_wrap .progress_wrap_inner .left .main_title{
	width: 100%;
	float: left;
	margin-bottom: 29px;
}
.arlo_tm_progress_wrap .progress_wrap_inner .left .main_title h3{font-size: 20px;}
.arlo_tm_progress_wrap .progress_wrap_inner .left .main_title h3 span{color: #ff214f;}
.arlo_tm_progress_wrap .right{
	width: 50%;
	height: auto;
	padding-left: 30px;
}
.arlo_progress{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 10px;
}
.progress_inner{
	width:100%;
	margin-bottom:14px;
}
.progress_inner > span{
	margin:0px 0px 7px 0px;
	width:100%;
	display:block;
	text-align:left;
}
.progress_inner span.number{float: right;}
.progress_inner .background{
	background:#07081f;
	width:100%;
	min-width:100%;
	position:relative;
	height:8px;
}
.progress_inner .background .bar_in{
	height:100%;
	background:#333;
	width:0px;
	overflow:hidden;
}
.progress_inner .background .bar{
	width:0px;
	height:100%;
}
.progress_inner .background .bar.open{
	-webkit-animation: wow 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* Safari 4+ */
	-moz-animation:    wow 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* Fx 5+ */
	animation:         wow 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* IE 10+ */
	width:100%;	
}

@-webkit-keyframes wow {0%{ width:0%; } 100%{ width:100%; }}
@-moz-keyframes wow {0%{ width:0%; } 100%{ width:100%; }}
@keyframes wow {0%{ width:0%; } 100%{ width:100%; }}

/* Section: Achievement */
.section-achievements {
	margin-bottom: 90px;
}
.fh5co-feature {
  text-align: left;
  width: 100%;
  float: left;
}
.fh5co-feature .fh5co-icon {
  float: left;
  width: 10%;
  display: block;
  margin-top: 5px;
}
.fh5co-feature .fh5co-icon img{
  width: 90px;
}
.fh5co-feature .fh5co-text {
  float: right;
  width: 82%;
}
@media screen and (max-width: 768px) {
  .fh5co-feature .fh5co-text {
    width: 82%;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-feature .fh5co-text {
    width: 72%;
  }
}
.section-achievements .col-md-6{
    margin: 6px 0;
}
.fh5co-feature .fh5co-text h2, .fh5co-feature .fh5co-text h3 {
  margin: 0;
  padding: 5px 0;
}
.fh5co-feature .fh5co-text h3 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}
.fh5co-feature .fh5co-text h2 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Section: Services */
.section-services {
    position: relative;
    padding-top: 250px;
}

.section-services:before {
    content: '';
    background: url(../img/services-bg.jpg) no-repeat fixed center / cover;
    width: 100%;
    height: 400px; 
    position: absolute;
    left: 0;
    top: 0;
}

.overlay:after {
    content: '';
    width: 100%;
    height: 400px; 
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    z-index: 0;
}

.section-services .container {
    padding: 100px 100px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.service h4 {
    margin: 25px 0;
    font-size: 24px;
    font-weight: 700;
}

.service p {
    color: #000;
    margin-bottom: 0;
}

/* Section: Portfolio */
.section-portfolio {
    padding-bottom: 120px;
}
.section-portfolio .text-center{
    margin-bottom: 30px;
}

.portfolio-item {
    height: 280px;
    margin-bottom: 30px;
    position: relative;
}
.section-portfolio .col-md-4:nth-last-child(-n+3) .portfolio-item {
    margin-bottom: 0;
}

.portfolio-item:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
}

.portfolio-item:hover:before{
    background-color: rgba(33,33,33,0.6);
}

.portfolio-item-info {
    position: absolute;
    top: 150px;
    left: 0px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}

.portfolio-item:hover .portfolio-item-info {
    left: 50px;
    opacity: 1;
}

.portfolio-item-info h4 {
    margin: 0 0 20px;
    font-weight: 700;
    color: #fff;
}

.portfolio-item-info a {
    padding: 6px 7px 4px;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.portfolio-item-info a:hover {
    color: #212121;
    background-color: #fff;
}

.section-portfolio .btn {
    margin-top: 10px;
}

/* Modal */
.modal {
    z-index: 9999;
}

.modal-content {
    border-radius: 0;
    box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    position: relative;
    padding: 0;
    height: 500px;
}

.modal-header .close {
    position: absolute;
    right: 0;
    padding: 10px 11px;
    margin-top: 0;
    background-color: #fff;
    font-size: 16px;
    color: #212121;
    border-left: 1px solid #212121;
    border-bottom: 1px solid #212121;
    opacity: 1;
    transition: box-shadow 0.25s ease-in-out;
    -moz-transition: box-shadow 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out;
    -o-transition: box-shadow 0.25s ease-in-out;
    -ms-transition: box-shadow 0.25s ease-in-out;
}

.modal-header .close:hover {
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.2);
}

.modal-body h4 {
    font-weight: 700;
}

.modal-footer {
    text-align: center;
}

/* Section: Counters */
.section-counters {
    background: url(../img/counters-bg.jpg) no-repeat fixed center / cover;
    width: 100%;
    padding: 90px 0;
    position: relative;
}

.section-counters:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.section-counters h4 {
    color: #fff;
    margin: 25px 0 0;
}

.site-section p.counter {
    font-size: 100px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    line-height: 0.8;
}

/* Section: Form*/
.section-form .btn {
    margin-top: 40px;
}

/* FOOTER
================================================== */
.site-footer {
    bottom: 0;
    padding: 25px 0;
    width: 100%;
    background-color: #212121;
    z-index: -1;
}

.icon {
    line-height: 40px;
    padding: 9px 11px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.icon + .icon {
    margin-left: 5px;
}

.icon i:before {
    margin:0;
}

.icon:hover {
    background-color: #fff;
}

.site-footer a {
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}
.google-maps{
    margin: 50px 0 10px 0;
}

a.twitter-bg:hover {color: #55acee;}
a.facebook-bg:hover{color: #3b5998;}
a.gplus-bg:hover{color: #007bb5;} 
a.linkedin-bg:hover {color: #dd4b39;}
a.icon-up-bg:hover {color: #212121;}

.copyright {
    margin-bottom: 0;
    line-height: 40px;
    color: #fff;
    text-align: center;
}